<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.traxion.refresco-diario</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/jorgeinteriano/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>/Users/jorgeinteriano/Documents/GitHub/Reportes Conductores/connector/refresco_diario.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/refresco_diario.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/refresco_diario.err</string>
    <key>WorkingDirectory</key>
    <string>/Users/jorgeinteriano/Documents/GitHub/Reportes Conductores</string>
</dict>
</plist>
