<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.traxion.publicar-semanas</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/jorgeinteriano/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>/Users/jorgeinteriano/Documents/GitHub/Reportes Conductores/connector/publicar_semanas.sh</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/publicar_semanas.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/publicar_semanas.err</string>
    <key>WorkingDirectory</key>
    <string>/Users/jorgeinteriano/Documents/GitHub/Reportes Conductores</string>
</dict>
</plist>
